nav {
  width: 300px;
  border: 0px black;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a {
  background: darkgreen;
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}

.menu a:hover {
  background: darkolivegreen;
}

.regresar a {
  display: inline-block;
  height: none;
  background: darkgreen;
  color: white;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
}

.regresar a:hover {
  background-color: darkolivegreen;
}